* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    position: relative;
    /* width: 80%;
    height: auto; */
    margin: auto;
    border: solid 4px indianred;
    justify-content: center;
    align-items: center;
}

#status {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 5rem;
    text-align: center;
    z-index: 10;
}

#webcam {
    /* width: 0;
    height: 0; */

}

#webcam-canvas {
    display: none;
    width: 100%;
    transform: scaleX(-1);
}

.monkey {
    display: none;
}

.monkey.visible {
    display: inline;
}


#square {
    position: absolute;
    width: 100px;
    height: 100px;
    /* border: solid 3px yellow; */
    z-index: 500;
    background: url('https://cdn160.picsart.com/upscale-272899131007211.png?r1024x1024');
    background-repeat: no-repeat;
    background-size: cover;
      /* transition: all 0.5s ease; */

}